.city select{
    border:1px solid black;
    outline:1px solid #b1b1b1;
    height:32px;
    width: 80px;
    margin-right: 5px;
}
.city select option{
    width: 80px;
}
.city select option:hover{
outline:none;
}