.chenmingsecproductbox{
    width: 1200px;
    margin: 50px auto;
}
/* 筛选框盒子 */
.searchbox,.sortproduct{
    border:1px solid #b1b1b1;
    padding-bottom: 20px;
    margin-top: 5px;
    padding-left: 20px;
}
/* 筛选行 */
.searchbox>div,.sortproduct>div{
    margin-top: 20px;
}
/* 筛选行名字 */
.searchbox>div>div{
    float: left;
}
/* 筛选项 */
.searchbox ul,.sortproduct ul{
    display: flex;
    margin: 0;
    padding-left:20px;
}

.red{
    color:#ff0000;
}
.searchbox li,.sortproduct li{
list-style: none;
margin-left: 10px;
margin-right: 10px;
}
/* 鼠标悬停筛选项文字变色 */
.searchbox li:hover,.sortproduct li:hover{
    color: #ff0000;
    cursor: pointer;
}
.submitprice{
    height:21px;
    line-height:20px;
    margin-left:10px;
    background-color:#ff0000;
    border:none;
    cursor: pointer;
    width: 70px;
    color:white;
    border-radius:5px;
}