
.upload_success{
    width: 400px;
    margin: 0 auto;
    text-align: center;
    word-spacing: 50px;
}
.upload_success>p{
font-size: 34px;
color:#ff0000;
font-weight: bolder;
margin-bottom: 10px;
margin-top: 60px;
}
.upload_success button{
    margin-top: 10px;
    margin-right: 10px;
    
}