
/* 发布二手流程button */
.secpublish_menu{
    border-bottom:4px solid #b1b1b1;
    display: flex;
    padding:0 20%;
}
/* 头部menudiv */
.secpublish_menu>div{
    width: 240px;
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 4px;
    padding-bottom: 5px;
}
/* 数字123 */
.secpublish_menu i{
    display: inline-block;
    font-style: normal;
    background-color:#ff0000;
    color: white;
    width: 30px ;
    height: 30px;
    border-radius: 100%;
    text-align: center;
}
/* 发布流程的border效果 */
.borderbottom{
    border-bottom: 4px solid #ff0000;
}