
.bg{
    background-color:rgb(248,248,248);
}
.styleBox{
    width:1200px;
    /* height:340px; */
    margin:0 auto;
}
.styleFlex{
    display: flex;
    flex-wrap: wrap;
}
.styleLeft{
    width:320px ;
    background-color: white;
}
.styleRight,.styleRight img {
    width: 880px;
    height:340px;
}
.styleTitle{
    width:80px;
    height:85px;
    font-size: 14px;
    text-align: center;
    line-height: 85px;
    border-right: 1px dashed #999999;
    border-bottom: 1px solid #999999;
}
.styleSon{
    width:80px;
    height:85px;
    font-size: 12px;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #999999;
}
.styleCursor{
    color: #999999;
    cursor: pointer;
}
.styleCursor:hover{
    color:red;
}
.styleMiddle_Title{
    height: 60px;
    font-size: 26px;
    line-height: 60px;
}
.styleMargin{
    margin-right: 10px;
}
.styleMiddle_Img{
    width:590px ;
    padding:5px;
    margin:0 auto;
    cursor: pointer;
}
.bedRoomStyle{
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px;
}
.bedRoomStyle Img{
    width:285px;
    cursor: pointer;
}
.bedRoomStyle_title{
    position: absolute;
    bottom: 0;
    font-size: 18px;
    background-color: #999999;
    color: white;
    line-height: 40px;
    text-align: center;
    width: 100%;
    height: 40px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}
.bedRoomStyle_title:hover {
    visibility: visible;
    opacity: 1;
}
.roomStyle{
    width: 100px;
    height: 170px;
    background-color: tomato;
    color: white;
    font-size: 22px;
    margin-right: 10px;
    text-align: center;
    line-height: 170px;
}
.roomTitleStyle{
    text-align: center;
    color: tomato;
    font-size: 16px;
}
.changeRoomStyle{
    width:150px;
    height:150px;
    border-radius: 100%;
    margin-right: 30px;
}
.changeTitleStyle{
    margin-right: 30px;
}
.studyRoomImg{
    margin-right: 15px;
}