.xutao .state {
  width: 100px;
  text-align: center;
  margin: 0 auto;
}
.xutao .ant-table-filter-column-title {
  width: 20px;
}
.xutao .del {
  display: block;
  cursor: pointer;
  width: 60px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  margin: 0 auto;
  background: #1890ff;
  border-color: #1890ff;
}
/* .ant-table-wrapper{
    width: 1000px;
}
.site-layout-background{
    width: 1000px;
} */
