.auditStyle .bigbig{
    position: relative;
}
.auditStyle .actionStyle{
    /* width: 50px;
    height: 30px;
    background-color: turquoise;
    color: white;
    font-size: 16px;
    cursor: pointer; */
}
.auditStyle .closeImg{
    width: 24px;
    height: 24px;
    margin-left: 1030px;
    margin-top: 50px;
    cursor: pointer;
}
.auditStyle .detailsPage{
    background-color: white;
    width: 600px;
    height: 420px;
    margin-left: 250px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.auditStyle .myHide{
    display: none;
}
.auditStyle .myShow{
    width: 1115px;
    height: 530px;
    background-color:rgba(240,242,245,.4);
    position:absolute;
    top: 55px;
    left: 225px;
    z-index:3;
    display: block;
}
.auditStyle .textShow{
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: turquoise;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display:block;
}
.auditStyle .textNone{
    display: none;
}
.auditStyle .passShow{
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #b7b7b7;
    cursor: pointer;
    display:block;
}