

.xt1 .header-top {
    width: 100%;
    background-color: #fbfbfb;
    height: 29px;
    line-height: 29px;
    border-bottom: 1px solid #b1b1b1;
}
.xt1 .ress_img {
    float: left;
    width: 16px;
    margin-top: -3px;
}
.xt1 .addresspp {
     float: left;
     color: #666;
     margin-left: 2px;
     margin-right: 2px;
 }
.xt1 .qh{
    float: left;
}
.xt1 .readssswitch a {
    color: #ff4500;
}

.xt1 .welcome {
    float: left;
    font-size: 14px;
    line-height: 28px;
    color: #c1bfbf;
    margin-left: 100px;
}
.xt1 .welcome_index {
    color: #ff0000;
    cursor: pointer;
}

.xt1 .header_center {
    height: 70px;
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
}
.xt1 .headerRight {
    width: 440px;
    float: right;
}
.xt1 .hotline {
    float: left;
    font-size: 14px;
    line-height: 28px;
    color: #c1bfbf;
    text-align: center;
}
.xt1 .img {
    float: left;
    width: 16px;
    height: 14px;
    margin-right: 2px;

}
.img img{
    float: left;
    width: 16px;
    height: 14px;
    margin-top: 10px;


}
.xt1 .LoginorRegister {
    width: 60px;
    font-size: 14px;
    line-height: 28px;
    color: #666;
    text-align: center;
    float: left;
    cursor: pointer;
}
.xt1 .LoginorRegister {
    width: 60px;
    font-size: 14px;
    line-height: 28px;
    color: #666;
    text-align: center;
    float: left;
    cursor: pointer;
}
.xt1 .Iwantdecorate {
    width: 100px;
    font-size: 14px;
    line-height: 28px;
    color: #666;
    text-align: center;
    float: left;
    cursor: pointer;
    margin-left: 20px;
}
.xt1 .Advisory_hotline {
    width: 200px;
    float: right;
}
.xt1 .Select_role {
    width: 1200px;
    margin: 0 auto;
    height: 34px;
    margin-top: 30px;
}
.xt1 .Select_role p {
    float: left;
    font-size: 12px;
    color: #555555;
    line-height: 34px;
    padding: 0 10px;
    margin-right: 15px;
}
.xt1 .Select_role .angle {
    cursor: pointer;
    border: 1px solid #b1b1b1;
}
.xt1 .Select_role .angle {
    cursor: pointer;
    border: 1px solid #b1b1b1;
}
.xt1 .ress_img {
    float: left;
    width: 16px;
    margin-top: -3px;
}
.xt1 .addresspp {
    float: left;
    color: #666;
    margin-left: 2px;
    margin-right: 2px;
}
.xt1 .header_center {
    height: 70px;
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
}
.xt1 .headerlogo {
    height: 70px;
    float: left;
    width: 220px;
}
.xt1 .headerh4 {
    height: 70px;
    line-height: 70px;
    float: left;
    margin-left: 30px;
    padding-left: 30px;
    border-left: 1px solid #b1b1b1;
    font-size: 36px;
    color: #aeaeae;
}
.xt1 .full {
    height: 100%;
}
.xt1 .designer, .Select_role .angle {
    cursor: pointer;
    border: 1px solid #b1b1b1;
}
.xt1 .main {
    margin-top: 30px;
}

.xt1 .top_maina {
    clear: both;
    margin-top: 30px;
    text-align: left;
    height: 32px;

    line-height: 32px;
    background-color: #f6f6f6;
    padding-left: 20px;
}
.xt1 .text2 {
    font-size: 12px;
    color: #ff0000;
    float: right;
    margin-right: 20px;
}
.xt1 .text{
    color: #0f0f0f;
    font-size: 16px;
    float: left;
}
.xt1 .information {
    height: 54px;
    font-size: 18px;
    line-height: 54px;
    padding-left: 10px;
    border-bottom: 1px solid #b1b1b1;
    clear: both;
    color: #0f0f0f;
}
.xt1 .Input{
    float: left;
    width: 282px;
    height: 32px;
    line-height: 32px;
    text-indent: 6px;
    border: 1px solid #b1b1b1;
    margin-left: 20px;
}
.xt1 .name{
    width: 120px;
    text-align: right;
    float: left;
    font-size: 17px;
    color: #0f0f0f;
}
.xt1 .namebox{
    margin-top: 30px;
}
.xt1 .inputMr{
    width: 280px;
    height: 28px;
    line-height: 28px;
    text-indent: 6px;
    margin-left: 20px;
}
.xt1 .font{
    font-size: 17px;
    color: #0f0f0f;
}
.xt1 .namebox1{
    margin-top: 20px;
    clear: both;
}
.xt1 select{
    margin-left: 20px;
    border: 0;
}
.xt1 .man_cad {
    height: 140px;
    float: left;
    margin-left: 20px;
}
.xt1 .cad-top {

    height: 85px;
    margin-bottom: 5px;
}
.xt1 .Computer_phpto {
    width: 85px;
    height: 85px;
    background-color: #f8f8f8;
    float: left;
    cursor: pointer;
    margin-left: 20px;
}
.xt1 .imgd {
    width: 40px;
    height: 32px;
    margin: 0 auto;
    margin-top: 20px;
}
.xt1 .imgd img {
    width: 100%;
    height: 100%;
}
.xt1 .Computer_phpto p {
    width: 85px;
    font-size: 12px;
    color: #333;
    text-align: center;
}
.xt1 .perhaps {
    font-size: 14px;
    width: 30px;
    text-align: center;
    line-height: 85px;
    color: #333;
    float: left;
}
.xt1 .shao_QR_code {
    float: left;
    height: 85px;
    border: 1px solid #b1b1b1;
}
.xt1 .left {
    width: 75px;
    height: 75px;
    float: left;
    padding: 5px;
    background-color: #fff;
}
.xt1 .left img {
    width: 100%;
    height: 100%;
}
.xt1 .rightqr_code {
    width: 170px;
    height: 85px;
    float: right;
    background-color: #f8f8f8;
}
.xt1 .rightqr_code p {
    width: 160px;
    font-size: 10px;
    line-height: 18px;
    text-align: left;
    margin-top: 40px;
    margin-left: 5px;
    color: #333;
}
.xt1 .botm-text{
    clear: both;
    margin-left: 20px;
}
/*.name1{*/
/*    width: 120px;*/
/*    text-align: right;*/
/*    float: left;*/
/*    font-size: 15px;*/
/*    color: #0f0f0f;*/
/*}*/
.xt1 .name2{
    width: 600px;
    font-size: 12px;
    color: #999;
    line-height: 18px;
    text-align: left;
    margin-left: 40px;
}
.xt1 .ms{
    width: 120px;
    height: 20px;
    text-align: right;
    float: left;
    font-size: 15px;
    margin-left: 20px;
    color: #0f0f0f;
}
.xt1 .name2 p{
    margin-top: -6px;

}
.xt1 .fill_In {
    width: 1200px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    clear: both;
}
.xt1 .fill_In p {
    color: #0f0f0f;
    font-size: 17px;
    width: 120px;
    text-align: right;
    float: left;
}
.xt1 .upload_btn {
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    font-size: 24px;
    color: #fff;
    background-color: #ff0000;
    cursor: pointer;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}
.xt1 .essential_information {
    color: #0f0f0f;
    height: 54px;
    font-size: 18px;
    line-height: 54px;
    padding-left: 10px;
    border-bottom: 1px solid #b1b1b1;
    clear: both;
}
.xt1 .select{
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    width: 100px;
    color: #0f0f0f;
}
.xt1 .select p{
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    width: 100px;
    color: #0f0f0f;
}
.xt1 .formatcali {
    margin-left: 20px;
    color: #999;
    font-size: 12px;
}
.xt1 .next_step_butn {
    width: 150px;
    height: 40px;
    display: block;
    background-color: #ff0000;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    margin-left: 185px;
    margin-top: 100px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
}

 #footer {
    padding-top: 100px;
    padding-bottom: 100px;
    clear: both;
}
 .footer {
    height: 360px;
    border-top: 1px solid #f76d1d;
}
 .footer-top {
    height: 200px;
}
.footer-bottom {
    margin-top: 30px;
    clear: both;
}
 .footer-top-left {
    width: 240px;
    float: left;
    text-align: center;
}
 .footer-top-left P {
    margin-left: 40px;
    font-size: 14px;
    color: #595959;
    margin-top: 35px;
    line-height: 24px;
}
 .footer-top-left ul {
    width: 240px;
}

 .footer-top-left ul li {
    width: 120px;
    list-style: inside;
    cursor: pointer;
    margin: 0 auto;
}
 .footer-top-left ul li a {
    height: 24px;
    width: 50%;
    margin: 0 auto;
    display: block;
    line-height: 24px;
    font-size: 12px;
    color: #595959;
}
.footer-bottom p {
    text-align: center;
    font-size: 12px;
    color: #b2b2b2;
    line-height: 16px;
}
 .footer-icon {
    margin-top: 10px;
    text-align: center;
}
 .full1{
    height: 42px;
    width: 163px;
}
/*.fill_In {*/

/*    width: 120px;*/
/*    text-align: right;*/
/*    float: left;*/
/*}*/
 .fill_In select {
    float: left;
    height: 30px;
    margin-left: 20px;
    color: #0f0f0f;
}

