/* 每行标题 */
.personal_info>div>span{
    display: block;
    float:left;
    width: 100px;
    text-align: right;
    margin-right: 20px;
 
    line-height: 32px;
}
/* 第一行 */
.personal_img>span{
    height: 16px!important;
    line-height: 16px!important;
}
/* 头像 */
.personal_info>div>img{
    height: 100px;
   
}
/* 个人信息单项盒子 */
.personal_info>div{
    margin-bottom: 20px;
}
/* 提交按钮 */
.submit_info{
margin-left:150px;
width: 150px;
}