/* cart */
.cart-content-top {
  display: flex;
  justify-content: space-between;
}

.cat-content-top-logo {
  float: left;
  background-color: #ff0000;
  width: 200px;
  height: 30px;
}

.cat-content-top-logo img {
  margin-top: 2px;
  margin-left: 30px;
  float: left;
}

.cat-content-top-logo span {
  float: right;
  margin-right: 30px;
  height: 30px;
  font-family: "微软雅黑";
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  color: #fefefe;
}

.cart-content-content {
  border: 1px solid #b1b1b1;
}

.cart-content-content table {
  width: 100%;
  text-align: center;

}

.cart-content-content-top {
  height: 36px;
  background-color: #f7f8f8;
}

.cart-content-content-tr {
  border-bottom: 1px solid #b1b1b1;
}

.cart-content-content-td-srcname {
  float: left;
  font-size: 12px;
  font-family: "宋体";
  line-height: 103px;
  color: #393b3a;
  height: 103px;
  text-align: center;
  width: 100%;
}

.cart-content-content-td-srcname div {
  display: inline-block;
}

.cart-content-content-td-srcname img {
  float: left;
  width: 90px;
  margin-top: 5px;
}

.cart-content-content-td-number span:nth-of-type(1),
.cart-content-content-td-number span:nth-of-type(3) {
  float: left;
  width: 23px;
  height: 23px;
  display: block;
  text-align: center;
  line-height: 23px;
  font-family: "微软雅黑";
  font-size: 12px;
  cursor: pointer;
  color: #ffffff;
  background-color: #ff0000;
}

.cart-content-content-td-number {
  text-align: center;
}

.cart-content-content-td-number div {
  height: 23px;
  display: inline-block;
}

.cart-content-content-td-number span:nth-of-type(2) {
  float: left;
  width: 37px;
  height: 23px;
  line-height: 23px;
  color: #000000;
  border: 1px solid #ff0000;
  background: none;
  cursor: default;
  font-family: "微软雅黑";
  font-size: 12px;
}

.cart-content-content-td-operation {}

.cart-content-content-td-operation p {
  cursor: pointer;
}

.role-content-bank-content>a:hover {
  color: #f8f8f8;
}

.cart-content-content-footer {
  height: 132px;
}

.cart-content-content-footer>div:nth-of-type(1) {
  float: left;
  width: 400px;
  height: 132px;
  position: relative;
}

.cart-content-content-footer>div:nth-of-type(1) div input {
  float: left;
  position: absolute;
  left: 15px;
  top: 60px;
}

.cart-content-content-footer>div:nth-of-type(1) label {
  float: left;
  font-family: "宋体";
  margin-left: 34px;
  font-size: 12px;
  color: #393b3a;
  line-height: 132px;
}

.cart-content-content-footer>div:nth-of-type(1) .cart-content-content-footer-span {
  width: 100px;
  float: left;
  margin-left: 35px;
  cursor: pointer;
  height: 32px;
  margin-top: 50px;
  text-align: center;
  font-size: 12px;
  font-family: "宋体";
  color: #ff0000;
  line-height: 32px;
}

.cart-content-content-footer>div:nth-of-type(2) {
  float: right;
  width: 300px;
  position: relative;
  height: 132px;
}

.cart-content-content-footer>div:nth-of-type(2) span {
  float: left;
  font-family: "宋体";
  font-size: 14px;
  color: #393b3a;
  line-height: 132px;
}

.cart-content-content-footer>div:nth-of-type(2) span>span {
  float: right;
  font-size: 24px;
  font-family: "微软雅黑";
  color: #ff0000;
  line-height: 132px;
}

.cart-content-content-footer>div:nth-of-type(2) button {
  width: 116px;
  height: 38px;
  background: #ff0000;
  color: #ffffff;
  font-family: "微软雅黑";
  font-size: 18px;
  text-align: center;
  line-height: 38px;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 15px;
  top: 47px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
}

.cart-content-footer {
  margin-bottom: 30px;
  margin-top: 20px;
}
.cart-content-footer>.cart-content-footer-top{
  height: 34px;
  border-bottom: 1px solid #ff0000;
}
.cart-content-footer>.cart-content-footer-top span{
  display: inline-block;
  height: 34px;
  width: 102px;
  text-align: center;
  font-family: "微软雅黑";
  font-size: 14px;
  color: #ffffff;
  background-color: #ff0000;
  line-height: 34px;
  cursor: pointer;
}

.cart-content-footer .cart-content-footer-content {
  height: 288px;
  border: 1px solid #b1b1b1;
  margin-top: 20px;
  padding-top: 20px;
}

.cart-content-footer .cart-content-footer-content>div {
  cursor: pointer;
  width: 258px;
  height: 248px;
  padding: 0 20px;
  border-right: 1px dashed #b1b1b1;
  float: left;
  text-align: center;
}

.cart-content-footer .cart-content-footer-content>div .cart-content-footer-content-img {
  height: 200px;
  margin-bottom: 5px;
}

.cart-content-footer .cart-content-footer-content>div .cart-content-footer-content-img img {
  height: 100%;
}

.cart-content-footer .cart-content-footer-content .cart-content-footer-content-p p {
  color: #616161;
  font-family: "宋体";
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  margin: 0;
}

.cart-content-footer .cart-content-footer-content .cart-content-footer-content-p h5 {
  font-size: 14px;
  line-height: 18px;
  color: #ff0000;
  font-family: "微软雅黑";
  text-align: left;
  margin: 0;
  font-weight: normal;
}