 .success-order-content {
   background-color: #f7f8f8;
   width: 80%;
   margin: 0 auto;
   padding: 0 10%;
   position: relative;
 }

 .success-order-content-model {
   position: absolute;
   height: 100%;
   margin-left: -12.5%;
   width: 100%;
   background-color: #00000050;
   display: none;
 }

 .success-order-content-model>div {
   position: absolute;
   top: 155px;
   left: 186px;
   text-align: center;
   background-color: #ffffff;
   width: 505px;
   height: 202px;
   z-index: 200;
 }

 .success-order-content-model>div>h1 {
   color: #ff0000;
   font-family: "微软雅黑";
   font-size: 24px;
   line-height: 60px;
   text-align: center;
   font-weight: normal;
 }

 .success-order-content-model>div>a {
   display: inline-block;
   height: 50px;
   width: 140px;
   background-color: #ff0000;
   cursor: pointer;
   border-radius: 2px;
   -moz-border-radius: 2px;
   -o-border-radius: 2px;
   -webkit-border-radius: 2px;
   -ms-border-radius: 2px;
   margin: 0 20px;
 }

 .success-order-content-model>div>a>img {
   float: left;
   margin-top: 15px;
   margin-left: 8px;
   margin-right: 5px;
 }

 .success-order-content-model>div>a>div>p:nth-of-type(1) {
   font-size: 14px;
   font-family: "微软雅黑";
   color: #ffffff;
   line-height: 25px;
   margin: 0 auto;
 }

 .success-order-content-model>div>a>div>p:nth-of-type(2) {
   font-size: 12px;
   font-family: "宋体";
   color: #ffffff;
   line-height: 25px;
   margin: 0 auto;
 }

 .success-order-content>h1 {
   color: rgb(255, 0, 0);
   font-size: 24px;
   font-family: 微软雅黑;
   line-height: 80px;
   text-align: center;
   font-weight: normal;
 }

 .success-order-content>p {
   font-family: 宋体;
   font-size: 12px;
   color: rgb(68, 68, 68);
 }

 .success-order-content>p:nth-of-type(1) {
   margin-bottom: 24px;
 }

 .success-order-content>div:nth-of-type(2)>span {
   font-family: 宋体;
   font-size: 12px;
   color: rgb(68, 68, 68);
   line-height: 21px;
 }

 .success-order-content p>:nth-of-type(2) {
   line-height: 21px;
   font-family: "宋体";
   font-size: 12px;
   color: #807c7c;
   line-height: 21px;
 }

 .success-order-content p>:nth-of-type(3) {
   color: rgb(128, 124, 124);
   line-height: 21px;
 }

 .success-order-content p>:nth-of-type(4) {
   font-size: 14px;
   font-family: 微软雅黑;
   line-height: 36px;
 }

 .success-order-content p>:nth-of-type(4)>font {
   color: rgb(239, 0, 0);
   font-size: 18px;
   font-family: 微软雅黑;
   line-height: 34px;
 }

 .success-order-content>div:nth-of-type(3) {
   margin-top: 20px;
   height: 100px;
   background-color: #eaebeb;
 }
 .success-order-content>div:nth-of-type(3)>div{
   float: left;
   cursor: pointer;
 }

 .success-order-content>div:nth-of-type(3)>span {
   font-size: 18px;
   font-family: 微软雅黑;
   color: rgb(104, 106, 106);
   line-height: 100px;
   text-indent: 40px;
   float: left;
 }

 .success-order-content>div:nth-of-type(3)>div>div {
   width: 80px;
   height: 80px;
   position: relative;
   background-color: #ffffff;
   border: 1px solid #ff0000;
   float: left;
   margin-top: 10px;
   text-align: center;
   z-index: 10;
   border-radius: 40px;
   -moz-border-radius: 40px;
   -o-border-radius: 40px;
   -webkit-border-radius: 40px;
   -ms-border-radius: 40px;
 }

 .success-order-content>div:nth-of-type(3)>div>div>img {
   margin-top: 15px;
 }

 .success-order-content>div:nth-of-type(3)>div>strong {
   width: 136px;
   height: 43px;
   float: left;
   margin-top: 28px;
   font-size: 16px;
   position: relative;
   left: -28px;
   text-align: center;
   background-color: #ff0000;
   z-index: 1;
   color: rgb(255, 255, 255);
   font-family: 微软雅黑;
   line-height: 43px;
 }

 .success-order-content>span {
   width: 170px;
   height: 30px;
   border: 1px solid #b7b7b7;
   margin-top: 15px;
   margin-left: 2px;
   cursor: pointer;
   font-family: 宋体;
   font-size: 12px;
   color: rgb(154, 149, 149);
   line-height: 30px;
   text-align: center;
   display: inline-block;
   margin-bottom: 50px;
 }

 .success-order-content .bank {
   margin-top: 30px;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content:space-between;
   margin-bottom: 20px;
 }
 .success-order-content .bank>div{
   margin-top: 10px;
 }

 .success-order-content>span:hover {
   border-color: #ff0000;
   color: #ff0000;
 }