.Sign_Register_successful #ak{
    width: 1200px;
    margin: 0 auto;
}
.Sign_Register_successful .successful {
    text-align: center;
    margin-top: 100px;
}
.Sign_Register_successful .successful h2 {
    font-size: 40px;
    color: #ff0000;
    line-height: 50px;
}
.Sign_Register_successful .successful p a {
    color: #ff0000;
}
.Sign_Register_successful .Decoration_logo {
    height: 100px;
    padding: 20px 0;
    margin-bottom: 40px;
}
.Sign_Register_successful .nav-top {
    width: 1200px;
    height: 70px;
    margin: 0 auto;
}
.Sign_Register_successful .nav-top .logo {
    width: 220px;
    height: 70px;
    margin-top: 30px;
    float: left;
}
.Sign_Register_successful .full {
    height: 100%;
}