.FurnitureGoods .cursor{
    cursor: pointer;
}
.FurnitureGoods .goodsInfo_box{
    width:1200px ;
    height:701px ;
    margin: 0 auto;
}
.FurnitureGoods .goodsFlex{
    display: flex;
    flex-wrap: wrap;
}
.FurnitureGoods .goodsImgStyle{
    width:730px ;
    height:460px ;
}
.FurnitureGoods .goodsInfo_right{
    width: 460px;
    padding: 35px;
}
.FurnitureGoods .goodstitle{
    font-size:30px;
    font-weight:bolder;
    color: #333;
}
.FurnitureGoods .goodsPrice{
    font-size:18px;
    color: #999;
    margin: 20px 0;
}
.FurnitureGoods .sizeBox{
    width:100px;
    height:24px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #333;
    margin: 4px;
    cursor: pointer;
}
.FurnitureGoods .align{
    justify-content: space-between;
}
.FurnitureGoods .buyNow{
    width:165px;
    height:40px;
    line-height: 40px;
    text-align: center;
    color: wheat;
    font-size:18px ;
    background-color: #ff0000;
    border-radius: 4px;
}
.FurnitureGoods .goodsInfoImg{
    width: 100%;
}
.FurnitureGoods .goodsInfoImg img{
    width: 100%;
}
.FurnitureGoods .recommended_box{
    width:1220px ;
    height:370px ;
    margin: 0 auto;
    /* border: 1px solid #999; */
}
.FurnitureGoods .recommendedStyle{
    width:285px ;
    height:370px ;
    margin: 10px;
    background-color: #f8f8f8;
    /* border: 1px solid #999; */
}
.FurnitureGoods .recommendedImgStyle{
    width:200px ;
    height:200px ;
    margin: 40px 50px;
}
.FurnitureGoods .justify{
    justify-content: space-around;
}
.FurnitureGoods .recommendedTitleStyle{
    font-size:18px ;
    text-align: center;
}
.FurnitureGoods .recommendedPriceStyle{
    font-size:18px ;
    color: #999;
}
.FurnitureGoods .recommendedGoods{
    width: 1215px;
    margin: 0 auto;
    height: 45px;
    background-color: chocolate;
    color: wheat;
    font-size: 20px;
    text-align: center;
    line-height: 45px;
}
.FurnitureGoods .shoucang{
    width: 20px;
}
.FurnitureGoods .border{
    border-top: 1px solid #999;
    width: 1200px;
    margin: 0 auto;
}
.FurnitureGoods .marginRight{
    margin:10px 10px;
    font-size:18px;
    color: #999;
}
.FurnitureGoods .marginRight:hover{
    color: red;
}
.FurnitureGoods .togglestyle{
    width: 730px;
    height: 130px;
    margin: 10px 30px;
}
.FurnitureGoods .togglestyle img{
    width:130px ;
    height: 130px;
    margin: 10px;
    cursor: pointer;
}
.FurnitureGoods .buttonleft{
    width:30px ;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color:#666 ;
    margin-top: 30px;
    cursor: pointer;
}