.cursor{
    cursor: pointer;
}
.goodsInfo_box{
    width:1200px ;
    height:701px ;
    margin: 0 auto;
}
.goodsFlex{
    display: flex;
    flex-wrap: wrap;
}
.goodsImgStyle{
    width:730px ;
    height:460px ;
}
.goodsInfo_right{
    width: 460px;
    padding: 35px;
}
.goodstitle{
    font-size:30px;
    font-weight:bolder;
    color: #333;
}
.goodsPrice{
    font-size:18px;
    color: #999;
    margin: 20px 0;
}
.sizeBox{
    width:100px;
    height:24px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #333;
    margin: 4px;
    cursor: pointer;
}
.align{
    justify-content: space-between;
}
.buyNow{
    width:165px;
    height:40px;
    line-height: 40px;
    text-align: center;
    color: wheat;
    font-size:18px ;
    background-color: #ff0000;
    border-radius: 4px;
}
.goodsInfoImg{
    width: 100%;
}
.goodsInfoImg img{
    width: 100%;
}
.recommended_box{
    width:1220px ;
    height:370px ;
    margin: 0 auto;
    /* border: 1px solid #999; */
}
.recommendedStyle{
    width:285px ;
    height:370px ;
    margin: 10px;
    background-color: #f8f8f8;
    /* border: 1px solid #999; */
}
.recommendedImgStyle{
    width:200px ;
    height:200px ;
    margin: 40px 50px;
}
.justify{
    justify-content: space-around;
}
.recommendedTitleStyle{
    font-size:18px ;
    text-align: center;
}
.recommendedPriceStyle{
    font-size:18px ;
    color: #999;
}
.recommendedGoods{
    width: 1215px;
    margin: 0 auto;
    height: 45px;
    background-color: chocolate;
    color: wheat;
    font-size: 20px;
    text-align: center;
    line-height: 45px;
}
.shoucang{
    width: 20px;
}
.border{
    border-top: 1px solid #999;
    width: 1200px;
    margin: 0 auto;
}
.marginRight{
    margin:10px 10px;
    font-size:18px;
    color: #999;
}
.marginRight:hover{
    color: red;
}
.togglestyle{
    width: 730px;
    height: 130px;
    margin: 10px 30px;
}
.togglestyle img{
    width:130px ;
    height: 130px;
    margin: 10px;
    cursor: pointer;
}
.buttonleft{
    width:30px ;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color:#666 ;
    margin-top: 30px;
    cursor: pointer;

}